# Arquivos auxiliares para build do latex
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ind
*.lof
*.log
*.lot
*.gz
*.toc
*.ilg
*.ipynb
*.res
input.dat
output.favia.res
/Maneh-2022
/GiD
/FreeCAD_model
/testes
build
/documentation/TCC-Lucas_bublitz